.experience-card {
  background-color: var(--Cards-color);
  color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.experience-date {
  color: var(--text-color);
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.experience-title {
  color: var(--secondary-text-color);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.experience-company {
  color: var(--third-text-color);
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

body.dark .experience-card {
  background-color: #0f0f23;
}
